{%extends 'base.html'%}
    {%block head_script %}
<link type="text/css" href="/static/css/index.css" rel="stylesheet">
    {%endblock head_script%}
{% block bread_button %}
      <li class="active"> <a href="{% url 'autoIndex:task' project%}">任务</a></li>
     <li class="active"> <a href="{% url 'autoIndex:interface' task%}">接口</a></li>
    <input class="btn btn-primary btn-xs" type="button" value="添加新接口" style="display: inline;float: right;
    margin-right: 200px" onclick="displayCreate()">
    <!--<input class="btn btn-primary btn-xs" type="button" value="编辑项目" style="float: right; margin-right: 10px"-->
           <!--onclick="editDate()">-->
{% endblock bread_button %}
{%block content%}
<div>

<table class="table table-condensed">
    <tr><th>接口序号</th><th>名称</th><th>url</th><th>协议</th><th>请求方式</th></tr>
    {%for interface in data%}

      <tr><td>{{interface.id}}</td><td>{{interface.iName}}</td><td>{{interface.iurl}}</td><td>{{interface.iHttp}}</td><td>{{ interface.iType}}</td></tr>
    {%endfor%}
</table>
</div>
<div class="createPage" id="create_page" >
    <div class="container">
     <form method="post" action="{% url 'autoIndex:addInterface' task %}" class="form-horizontal">
                <h3 style="text-align: center">添加接口</h3>
                <div class="form-group" style="margin-top: 40px">
                    <label class="col-sm-3 control-label">接口名:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="id_iName" name="iName" placeholder="name">
                    </div>
                </div>

                 <div class="form-group">
                      <label class="col-sm-3 control-label">url</label>

                         <div class="col-sm-7">
                        <input type="text" class="form-control" id="id_url" name="iurl" placeholder="url">
                    </div>
                 </div>
                <div class="form-group">

                    <label class="col-sm-3 control-label">协议:</label>
                    <div class="col-xs-2">
                               <select class="form-control" id="iHttp" name="iHttp">
                               <option>http://</option>
                              <option>https://</option>
                              </select>
                    </div>
                    <label class="col-sm-3 control-label">请求方式:</label>
                    <div class="col-xs-2">
                               <select class="form-control" id="iHttp" name="iHttp">
                                    <option>GET</option>
                                    <option>POST</option>
                                    <option>HEAD</option>
                                    <option>PUT</option>
                                    <option>DELETE</option>
                                    <option>OPIONS</option>
                                    <option>Trace</option>
                                    <option>Connect</option>

                              </select>
                    </div>
                </div>
                <div class="form-group" align="center">
                 <input type="button" class=" btn btn-default" value="取消" name="canncl_createProject", onclick="hiddenCreate()">
                 <input type="submit" class=" btn btn-primary" value="确定" name="submit_createProject">
                </div>
                {% csrf_token %}
            </form>
    </div>

</div>

    <script>
        function displayCreate() {
            $('#create_page').css({display:'flex'});
        }

        function hiddenCreate() {
            $('#create_page').css({display:'none'});
        }
        // function editDate() {
        //     $('#editbefore').hide();
        //     $('#editafter').show();
        // }

    </script>
{%endblock content%}